{% macro navigazione(pagine) %}
    <ul class="menu">
        {% for pagina in pagine %}
            <li><a href="{{ pagina.url }}">{{ pagina.label }}</a></li>
        {% endfor %}
    </ul>
    <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th colspan="11" class="table-title">TUTTI I GIOCATORI:</th>
                    </tr>
                    <tr>
                        <th>Id giocatore</th>
                        <th>Nome</th>
                        <th>Ruolo</th>
                        <th>Punti</th>
                        <th>Rimbalzi</th>
                        <th>Assist</th>
                        <th>Resistenza</th>
                        <th>Palle perse</th>
                        <th>Falli</th>
                        <th>Ranking</th>
                        <th>Azione #1</th>
                    </tr>
                </thead>
                <tbody>
                    {% for giocatore in lista_giocatori %}
                        <tr>
                            <td>{{giocatore.idg}}</td>
                            <td>{{giocatore.nome}}</td>
                            <td>{{giocatore.ruolo}}</td>
                            <td>{{giocatore.punti}}</td>
                            <td>{{giocatore.rimbalzi}}</td>
                            <td>{{giocatore.assist}}</td>
                            <td>{{giocatore.resistenza}}</td>
                            <td>{{giocatore.palle_perse}}</td>
                            <td>{{giocatore.falli}}</td>
                            <td>{{giocatore.ranking}}</td>                            
                            <td><a href="?azione=elimina&idg={{giocatore.idg}}">Elimina</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endmacro %}