{% block form %}
    {% for pagina in pagine %}
        <div class="pagina-container">
            <h3><i>SFOGLIA ONLINE - LorScience numero {% if numero_rivista %}{{numero_rivista}}{% else %}1{% endif %}</i></h3>
            <div class="articoli-colonne">
                {% for articolo in pagina %}
                    <div class="articolo-item">
                        <h4>{{articolo.argomento}}</h4>
                        <h5>{{articolo.titolo}}</h5>
                        <i>Articolo di: </i><strong>{{articolo.autore}}</strong>
                        <!-- <h5>{{articolo.autore}}</h5> -->
                        <article class="articolo-testo">{{articolo.testo}}</article>
                    </div>
                {% endfor %}
            </div>
            <div class="numero-pagina">{{ loop.index }}</div>
        </div>
    {% endfor %}
{% endblock %}