<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lezione recupero 03</title>
        <script src="https://cdn.jsdelivr.net/npm/dompurify@3.2.7/dist/purify.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
        <script src="js/autorefresh.js" defer></script>
    </head>
    <body>
        <h1>Registro Vendite</h1>
        <hr>
        <h2>Inserisci vendita:</h2>
        <form method="POST">
            {% if azione is defined and azione == 'modifica' %}
                <input type="hidden" name="azione" value="conferma_modifica">
                <input type="hidden" name="idv" value="{{ vendita_mod.idv }}">
            {% else %}
                <input type="hidden" name="azione" value="inserisci">
            {% endif %}
            <input type="text" name="agente" placeholder="Agente" {% if azione is defined and azione == 'modifica' %} value="{{ vendita_mod.agente }}" {% endif %} required>
            <input type="data" name="data" placeholder="Data" {% if azione is defined and azione == 'modifica' %} value="{{ vendita_mod.data }}" {% endif %} required>
            <input type="number" name="importo" placeholder="Importo" {% if azione is defined and azione == 'modifica' %} value="{{ vendita_mod.importo }}" {% endif %} required>
            <input type="number" name="provvigione" placeholder="Provvigione (facoltativa)" {% if azione is defined and azione == 'modifica' %} value="{{ vendita_mod.provvigione }}" {% endif %}>

            <input type="submit" value="INSERISCI">
        </form>
        <hr>
        {% include "table.twig" %}
        <div>
            <hr>
            <footer>
                <a href="{{ '' }}">HOMEPAGE</a>
            </footer>
        </div>
    </body>
</html>